.guide-container {
    display: flex;
    height: 100%;
    border-top: 2px solid var(--color-grey-200); /* 상단에 줄 추가 */

}

.sidebar {
    width: 25vh;
    background-color: var(--color-green-500); /* 배경색 변경 */
    padding: 20px;
    color: var(--color-grey-900); /* 텍스트 색상 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px; /* 목차와 버튼 간격 */
    flex-grow: 1; /* 목차를 사이드바 안에서 유연하게 배치 */
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    display: block; /* 전체 박스를 클릭 가능 */
    text-decoration: none;
    color: var(--color-grey-900); /* 링크 기본 텍스트 색상 */
    font-weight: var(--font-weight-semibold);
    padding: 10px 15px; /* 내부 여백 설정 */
    border-radius: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: var(--color-grey-900); /* 강조 텍스트 색상 */
    background-color: var(--color-white); /* 활성 상태 강조 배경 */
    border-radius: 5px;
}

.guide-content {
    margin-left: 25vh;
    width: calc(100% - 25vh); /* 사이드바를 제외한 공간 */
}

.guide-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.guide-section {
    background-color: #ffffff; /* 하얀색 배경 */
    width: 100%; /* 가로를 화면 전체로 */
    padding: 40px 0; /* 위아래 여백 */
    display: none;
}

.guide-section.active {
    display: block;
}

.exit-button {
    margin-top: 10px; /* 목차와 버튼 간격 줄이기 */
}

.exit-button a {
    display: flex; /* 플렉스 레이아웃 사용 */
    align-items: center; /* 아이콘과 텍스트 수직 중앙 정렬 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
    text-decoration: none;
    color: var(--color-grey-900); /* 버튼 텍스트 색상 */
    font-weight: var(--font-weight-semibold);
    padding: 10px; /* 버튼 패딩 조정 */
    padding-left: 30px;
    border-radius: 5px;
    width: calc(100% - 30px); /* 사이드바 내부 여백 기준으로 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
}

.exit-button a:hover {
    background-color: var(--color-white); /* 버튼 hover 배경 */
}

.icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}


/* 다음 주제로 버튼 */
.next-button-container {
    text-align: right; /* 오른쪽 정렬 */
    margin-top: 30px;
}

.next-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: var(--font-size-b2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-black);
    background-color: var(--color-green-200);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: var(--color-green-400);
}