@import url("global.css");

.main-container {
  margin-top: 2vh; /* 탑바 밑 여백 추가 */
  margin-left: 25vh; /* 사이드바 너비만큼 왼쪽 여백 추가 */
}

.b2-regular {
  color: var(--color-black);
}

.content {
  padding: 20px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.profile-box {
  flex-direction: column;
  display: flex;
  padding: 8vh 12vh;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  background: var(--color-white);
  box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.05);
  left: 50%;
  top: 50%;
  width: 30%;
  transform: translate(-30%, -50%);
  position: fixed;
}

.name-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
  align-self: stretch;
}

.name-input-wrapper input {
  border-radius: 10px;
  background: var(--color-grey-50);
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  width: 100%;
  border: none;
}

.name-input-wrapper input {
  color: var(--color-black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.name-input-wrapper input::placeholder {
  color: var(--color-grey-500);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.role-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
  align-self: stretch;
}

.selectBox * {
  box-sizing: border-box;
}
.selectBox {
  position: relative;
  width: 100%;
  padding: 12px;
  display: flex;
  border-radius: 10px;
  border: none;
  background: var(--color-grey-50);
  cursor: pointer;
}

.selectBox .label {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  background: transparent;
  cursor: pointer;
  color: var(--color-grey-500);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.selectBox .label {
  color: var(--color-black);
}

.selectBox .optionList {
  margin-top: 2vh;
  position: absolute;
  top: 28px;
  left: 0;
  width: 100%;
  background: var(--color-grey-50);
  color: var(--color-black);
  list-style-type: none;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  max-height: 0;
  transition: all 0.35s ease-in-out;
}

.selectBox.active .optionList {
  max-height: 500px;
}

.selectBox .optionItem {
  border-bottom: none;
  padding: 5px 15px 5px;
  transition: 0.1s;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.selectBox .optionItem:hover {
  background: var(--color-grey-100);
}

.selectBox .optionItem:last-child {
  border-bottom: 0 none;
}

/* // 스크롤 커스텀 */
.selectBox .optionList::-webkit-scrollbar {
  width: 6px;
}
.selectBox .optionList::-webkit-scrollbar-track {
  background: transparent;
}
.selectBox .optionList::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 45px;
}
.selectBox .optionList::-webkit-scrollbar-thumb:hover {
  background: #303030;
}

.profile-btn {
  border-radius: 10px;
  background: var(--color-green-500);
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  width: 100%;
  border: none;
  cursor: pointer;
}
