@import url("global.css");
.main-container {
  margin-top: 2vh; /* 탑바 밑 여백 추가 */
  margin-left: 25vh; /* 사이드바 너비만큼 왼쪽 여백 추가 */
}

.content {
  display: flex;
  padding: 20px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.scrum-title-wrapper {
  justify-content: space-between;
  display: flex;
  margin: 0px 20px;
}

.title-left-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  flex-wrap: wrap; /* 줄바꿈을 허용 */
  width: 45%;
  text-align: left;
  line-height: normal;
}

.save-button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid var(--Grey-grey-300, #9f9f9f);
  background: #fff;
  cursor: pointer;
}

.title-left-wrapper > * {
  word-wrap: break-word; /* 단어가 너무 길면 줄바꿈 */
  word-break: break-word; /* 단어를 강제로 끊음 */
}

.sprint-change-btn {
  display: flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 4px;
  position: relative;
}

.sprint-percentage-container {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 12px 20px;
  width: 50%;
  border-radius: 10px;
  border: 1px solid var(--color-grey-100);
}

.sprint-bar {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}

.sprint-bar-outer {
  width: 100%; /* 부모 컨테이너가 진행 바를 감쌀 수 있도록 설정 */
  height: 20px;
  background-color: var(--color-grey-50); /* 배경색 설정 */
  border-radius: 10px;
}

.sprint-bar-inner {
  height: 100%;
  background-color: var(--color-green-500);
  border-radius: 10px;
  transition: width 0.3s ease;
}

.scrum-board-container {
  margin: 20px;
  display: flex;
  gap: 24px;
  justify-content: space-between; /* Distributes space evenly */
  align-items: flex-start; /* Aligns them to the top */
}

.todo-container,
.inprogress-container,
.done-container {
  padding: 20px;
  width: 28vw;
  height: 70vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.todo-container {
  background: #c8e4f2;
}

.inprogress-container {
  background: #fefbd1;
}

.done-container {
  background: #ffdada;
}

.scrum-board-title {
  text-align: left;
  margin-bottom: 3vh;
}

.todo-container h1 {
  color: #7accf4;
}

.inprogress-container h1 {
  color: #ede13a;
}

.done-container h1 {
  color: #ff8e8e;
}

.scrum-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.user-circle {
  background-color: var(--color-grey-500);
  color: var(--color-white);
  padding: 5px 8px;
  border-radius: 50%;
  font-size: 0.9em;
  font-weight: bold;
}

/* 스크롤바 설정*/
.scrum-content::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}
/* 스크롤바 막대 설정*/
.scrum-content::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
}
.scrum-content::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
}

/* 스크롤바 뒷 배경 설정*/
.scrum-content::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.scrum-content::-webkit-scrollbar-track:hover {
  background-color: transparent;
}
.scrum-content::-webkit-scrollbar-button {
  display: none;
}

.scrum-sprint-item {
  display: flex;
  width: 100%;
  padding: 16px 18px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--color-grey-50);
  background-color: var(--color-white);
  margin-bottom: 8px;
}

.scrum-sprint-item:active {
  cursor: grabbing;
}

/* 드롭다운 기본 숨김 */
.sprint-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 100;
  margin-top: 10px;
  padding: 5px;
  top: 100%;
}
.sprint-dropdown.show {
  display: block; /* show 클래스가 추가될 때 보여집니다. */
}

.sprint-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sprint-dropdown ul li {
  text-align: left;
  padding: 8px 10px;
  cursor: pointer;
}

.sprint-dropdown ul li:hover {
  background-color: var(--color-grey-50);
}

.past-due {
  opacity: 0.5;
  pointer-events: none; /* 클릭 불가 */
  cursor: not-allowed;
}
.scrum-board-container.past-due .scrum-sprint-item {
  pointer-events: none;
  cursor: not-allowed;
}

/* Onboarding Overlay */
.onboarding-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onboarding-overlay.hidden {
  display: none; /* 숨김 상태 */
}

.onboarding-tooltip {
  background: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: left;
  width: 400px;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1002; /* 툴팁이 오버레이 위에 보이도록 설정 */
}
.onboarding-tooltip .onboarding-buttons {
  display: flex; /* 버튼 컨테이너 */
  justify-content: flex-end; /* 오른쪽 정렬 */
}
.onboarding-tooltip p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: var(--color-grey-900);
  text-align: left; /* 텍스트를 항상 왼쪽 정렬 */
}

.onboarding-tooltip button {
  padding: 8px 16px; /* 버튼 내부 여백 조정 */
  background-color: var(--color-green-400);
  color: var(--color-black);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto; /* 버튼을 오른쪽 정렬 */
  width: fit-content; /* 버튼 크기를 텍스트에 맞게 조정 */
  font-size: 0.875rem; /* 버튼 텍스트 크기 조정 */
  font-weight: 500; /* 텍스트 굵기 조정 */
}

.onboarding-tooltip button:hover {
  background-color: var(--color-green-600);
}

.onboarding-highlight {
  z-index: 1001;
  position: relative;
  background-color: white !important;
  border: 2px solid var(--color-green-200); /* 기본 테두리 색상 */
  border-radius: 8px;
  box-sizing: border-box;
}
