.sidebar {
    background-color: var(--color-green-500);
    width: 25vh;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: var(--font-size-b2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-grey-900);
}

/* 사이드바 상단 영역 (프로젝트 상태 표시) */
.sidebar-header {
    padding: 10px 20px; /* 상단과 왼쪽 패딩 */
    height: 80px; /* 일정한 높이 확보 */
    display: flex;
    flex-direction: column; /* 텍스트를 세로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
    justify-content: flex-start;
    color: var(--color-grey-900);
    font-size: 20px; /* b1 텍스트 스타일 */
    font-family: 'Pretendard', sans-serif;
    text-align: left; /* 텍스트 왼쪽 정렬 */
    font-weight: 400;
}
/* 프로젝트 없을때, 프로필 설정 중일때 텍스트 스타일 */
.sidebar-header p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}

.sidebar-header .action {
    font-size: 20px;
    font-weight: 400;
    margin-top: 4px; /* 위쪽에 간격 추가 */
    color: var(--color-black);
}

/* 프로젝트 이름 텍스트 스타일 */
.sidebar h2 {
    margin: 0;
    padding: 0 20px; /* 왼쪽 패딩 추가 */
    color: var(--color-grey-900);
    font-size: 28px; /* h1 텍스트 스타일 */
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 80px; /* 동일한 높이로 설정 */
}

/* 사이드바 리스트 스타일 */
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 5px 0; /* 리스트 아이템 상하 간격 */
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* 리스트 아이템 링크 스타일 */
.sidebar ul li a {
    text-decoration: none;
    color: var(--color-grey-900);
    display: flex;
    align-items: center;
    width: calc(100% - 32px); /* 하얀색 배경의 양옆 여백 확보 */
    margin: 0 auto; /* 중앙 정렬로 양쪽 여백 유지 */
    padding: 8px 10px;
}

/* 활성화된 항목 스타일 */
.sidebar ul li.active a {
    background-color: var(--color-white); /* 활성화된 항목 배경색 */
    border-radius: 12px; /* 둥근 모서리 */
    color: var(--color-black); /* 활성화된 항목 텍스트 색상 */
}