.topbar {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    height: 7vh;
    padding: 1vh;
    justify-content: flex-end;
    font-size: var(--font-size-b2);
    font-weight: var(--font-weight-regular);
}

.topbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px; /* 아이콘 간격 */
}

.topbar ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-grey-900);
    gap: 6px; /* 아이콘과 텍스트 간 간격 */
}

.topbar ul li a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: var(--color-black); /* 항상 검정색으로 표시 */
    display: flex;
    align-items: center;
    gap: 6px; /* 아이콘과 텍스트 간 간격 */
}

/* 알림 토클에 필요한 css */
.notification-content {
    display: none;
    position: absolute;
    top: 8vh;
    right: 12vh;
    background-color: white;
    width: 30vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 5px;
    max-height: 22vh;
    overflow-y: auto;
}

.notification-content h3 {
    font-size: var(--font-size-b1);
    font-weight: var(--font-weight-semibold);
    color: var(--color-black);
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.notification-content ul {
    list-style: none;
    display: flex;
    flex-direction: column; /* 리스트를 세로로 쌓기 */
    gap: 8px; /* 각 항목 간 간격 추가 */
}

.notification-content li {
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid var(--color-grey-50);
    display: flex;
}

.notification-content .project-name {
    font-size: var(--font-size-caption); /* 프로젝트 명 크기 */
    font-weight: var(--font-weight-semibold);
    color: var(--color-green-700);
    text-align: right; /* 텍스트 왼쪽 정렬 */
}

.notification-content .task {
    font-size: var(--font-size-small);
    color: var(--color-grey-900);
    text-align: center; /* 텍스트 왼쪽 정렬 */
    flex-grow: 1;
}

/* 스크롤바 숨기기 */
.notification-content::-webkit-scrollbar {
    display: none;
}

/* 마이페이지 토글에 필요한 css */
/* 마이페이지 드롭다운 스타일 */

.my-page-dropdown {
    margin-left: 2vh; /* 필요한 만큼 간격 조정 */
    margin-right: 9vh;
}

.mypage-content {
    display: none;
    position: absolute;
    top: 8vh;
    right: 2vh;
    background-color: white;
    width: 25vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    z-index: 1001; /* 다른 요소들보다 앞에 보이도록 우선순위 설정 */
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color-grey-200); /* 이미지가 없을 때 기본 회색 */
}

.mypage-content h3 {
    font-size: var(--font-size-b2);
    font-weight: 600;
    color: var(--color-black);
    margin-bottom: 10px;
}

.mypage-content .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.mypage-content .profile-picture {
    width: 100px;
    height: 100px;
    background-color: var(--color-grey-200);
    border-radius: 50%;
    margin: 0 auto 8px auto; /* 중앙 정렬을 위한 margin 설정 */
}

.mypage-content .btn-edit-profile,
.mypage-content .btn-logout {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: var(--font-size-small);
    cursor: pointer;
    border: 1px solid var(--color-green-700); /* 테두리 색상 추가 */
    color: var(--color-black);
}

.mypage-content .btn-edit-profile {
    background-color: var(--color-green-100);
    
}

.mypage-content .btn-logout {
    background-color: var(--color-white);
}