.main-container {
    margin-top: 3vh; /* 탑바 밑 여백 추가 */
    margin-left: 30vh; /* 사이드바 너비만큼 왼쪽 여백 추가 */
    margin-right: 5vh;
}

.content {
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* 헤더 스타일 */
.content-header {
    margin-bottom: 20px;
    text-align: center;
}

.content-header h2 {
    font-size: var(--font-size-h1);
    color: var(--color-black);
    font-weight: var(--font-weight-semibold);
}

/* 회고 상세 정보 */
.retrospect-details {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: var(--font-size-b2);
    color: var(--color-grey-900);
}

.retrospect-item strong {
    font-weight: var(--font-weight-semibold);
    margin-right: 5px;
}

/* 회고 내용 */
.retrospect-content {
    margin-top: 20px;
    line-height: 1.6;
    color: var(--color-grey-800);
    font-size: var(--font-size-b2);
}

.retrospect-content h3 {
    font-size: var(--font-size-b1);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 10px;
}

/* 버튼 스타일 */
.btn-back {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--color-green-500);
    color: var(--color-white);
    font-size: var(--font-size-b2);
    font-weight: var(--font-weight-semibold);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.btn-back:hover {
    background-color: var(--color-green-600);
}
