<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캘린더 페이지</title>
</head>
<body>

<div class="calendar-container">
    <!-- 팀/개인 일정 선택 체크박스 -->
    <div class="filter-options" style="display: inline;">
        <div>
            <label><input type="checkbox" id="team-checkbox" checked onclick="filterSchedules()"> 팀 일정</label>
            <label><input type="checkbox" id="personal-checkbox" checked onclick="filterSchedules()"> 개인 일정</label>
        </div>
    </div>

    <!-- 일정 목록 -->
    <div class="schedule-list">
        <h3>일정 목록</h3>
        <ul>
            {% for schedule in schedules %}
                <li class="schedule-item">
                    <span id="title" name="title">{{ schedule.title }}</span>
                    <span id="start_date" name="start_date">{{ schedule.start_date }}</span>
                    <span id="due_date" name="due_date">{{ schedule.due_date }}</span>
                    <span id="team" name="team">{{ schedule.team }}</span>
                    <div class="calendar-actions" style="display: inline;">
                        <a href="{{ url_for('calendar.update_schedule_view', project_id=project_id, calendar_id=schedule.calendar_id) }}">수정</a>
                        <form action="{{ url_for('calendar.delete_schedule_view', project_id=project_id, calendar_id=schedule.calendar_id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="delete-button">삭제</button>
                        </form>
                    </div>
                </li>
            {% else %}
                <li class="schedule-item">일정이 없습니다.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- 일정 추가 버튼 -->
    <a href="{{ url_for('calendar.create_calendar_view', project_id=project_id) }}">일정 추가하기</a>
</div>

</body>
</html>
