<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>캘린더 페이지</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='calender.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='topbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='sidebar.css') }}"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body data-project-id="{{ project.project_id }}">
    {% include 'topbar.html' %}
    <div class="main-container">
      {% include 'sidebar.html' %}
      <div class="content">
        <!-- 팀/개인 일정 선택 체크박스 -->

        <!-- 일정 목록 -->
        <!-- <div class="schedule-list" style="display: none">
          <h3>일정 목록</h3>
          <ul>
            {% for schedule in schedules %}
            <li
              class="schedule-item"
              data-title="{{ schedule.title }}"
              data-start-date="{{ schedule.start_date }}"
              data-due-date="{{ schedule.due_date }}"
              data-color="{{schedule.color}}"
            >
              <span class="title">{{ schedule.title }}</span>
              <span class="start_date">{{ schedule.start_date }}</span>
              <span class="due_date">{{ schedule.due_date }}</span>
              <span class="team"
                >{% if schedule.team == 1 %}Team{% else %}Personal{% endif
                %}</span
              >
              <div class="calendar-actions" style="display: inline">
                <a
                  href="{{ url_for('calendar.update_schedule_view', project_id=project.project_id, calendar_id=schedule.calendar_id) }}"
                  >일정 상세</a
                >
              </div>
            </li>
            {% else %}
            <li class="schedule-item">일정이 없습니다.</li>
            {% endfor %}
          </ul>
        </div> -->

        <div class="calendar-container">
          <div class="calendar-header-wrapper">
            <div class="calendar-header">
              <button id="prevBtn">
                <img src="../static/icons/nav-arrow-left.svg" />
              </button>
              <h1 id="currentMonth"></h1>
              <button id="nextBtn">
                <img src="../static/icons/nav-arrow-right.svg" />
              </button>
            </div>
            <div class="header-right">
              <div class="filter-options">
                <label
                  ><input
                    type="checkbox"
                    id="team"
                    checked
                    onchange="filterSchedules()"
                  />팀 일정</label
                >
                <label
                  ><input
                    type="checkbox"
                    id="personal"
                    checked
                    onchange="filterSchedules()"
                  />개인 일정</label
                >
              </div>
              <a
                id="addScheduleButton"
                class="add-event-btn"
                href="{{ url_for('calendar.create_schedule_view', project_id=project.project_id) }}"
                >일정 추가하기</a
              >
            </div>
          </div>

          <div class="calendar-days">
            <div class="day" style="color: red">일요일</div>
            <div class="day">월요일</div>
            <div class="day">화요일</div>
            <div class="day">수요일</div>
            <div class="day">목요일</div>
            <div class="day">금요일</div>
            <div class="day">토요일</div>
          </div>
          <div class="calendar-dates" id="calendarDates"></div>
        </div>
      </div>
      <!-- 모달 HTML -->
      <div id="scheduleModal" class="modal">
        <div class="modal-content">
          <span class="close-button">&times;</span>
          <h2>일정 상세</h2>
          <div id="scheduleDetails"></div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/calender.js') }}"></script>
  </body>
</html>
