<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마일스톤 생성</title>
</head>
<body>
    <h1>마일스톤 생성</h1>
    <form method="POST">
        <label for="milestone-name">마일스톤 이름</label>
        <input type="text" id="milestone_content" name="milestone_content" placeholder="마일스톤 이름을 입력하세요">

        <label for="deadline">마감 기한</label>
        <input type="date" id="due_date" name="due_date" placeholder="마감 기한을 선택하세요">

        <button type="submit" class="add-button">마일스톤 추가</button>
    </form>
</body>
</html>
