<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>manage_project</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='manage_project.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='topbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='sidebar.css') }}"
    />
  </head>
  <body>
    {% include 'topbar.html' %}
    <div class="main-container">
      {% include 'sidebar.html' %}
      <!-- 메인 콘텐츠가 들어갈 부분 -->
      {% block content %}
      <div class="projects-content">
        <p class="info-text">
          ※ 프로젝트 링크를 이미 받았다면 프로젝트 참여하기를 눌러주세요!
        </p>
        <div class="project-buttons-wrapper">
          <button class="project-create-button" id="openCreateButton">
            <img src="../static/icons/circle-plus.svg" alt="프로젝트 생성" />
            <h1>프로젝트 생성하기</h1>
          </button>
          <button class="project-attend-button" id="openJoinButton">
            <img src="../static/icons/link.svg" alt="프로젝트 참여" />
            <h1>프로젝트 참여하기</h1>
          </button>
        </div>
        <h1 class="project-list-title">프로젝트 목록</h1>
        <div class="project-lists">
          <div class="project-list">
            <p>프로젝트 이름</p>
            <div class="project-list-options">
              <button class="normal-button"><p>링크복사</p></button>
              <button class="normal-button"><p>프로필수정</p></button>
              <button class="exit-button"><p>나가기</p></button>
            </div>
          </div>
          <div class="project-list">
            <p>프로젝트 이름</p>
            <div class="project-list-options">
              <button class="normal-button"><p>링크복사</p></button>
              <button class="normal-button"><p>프로필수정</p></button>
              <button class="exit-button"><p>나가기</p></button>
            </div>
          </div>
          <div class="project-list">
            <p>프로젝트 이름</p>
            <div class="project-list-options">
              <button class="normal-button"><p>링크복사</p></button>
              <button class="normal-button"><p>프로필수정</p></button>
              <button class="exit-button"><p>나가기</p></button>
            </div>
          </div>
        </div>
      </div>
      <!-- 모달 생성 시 배경화면 어둡게(기본속성: none) -->
      <div class="modal-background" id="modalBackground"></div>
      <!-- 프로젝트 생성 모달 -->
      <div class="project-modal" id="createProjectModal">
        <h1>프로젝트 생성</h1>
        <div class="project-input-wrapper">
          <div class="b2-regular">프로젝트 명</div>
          <input type="text" placeholder="프로젝트명을 입력해주세요" />
        </div>
        <div class="modal-buttons-wrapper">
          <button class="create-button" id="createProjectButton">
            <div class="b2-regular">생성하기</div>
          </button>
          <button
            class="cancel-button"
            id="cancelButton"
            onclick="closeModal('createProjectModal');"
          >
            <div class="b2-regular">취소하기</div>
          </button>
        </div>
      </div>
      <div class="project-modal" id="joinProjectModal">
        <h1>프로젝트 참여하기</h1>
        <div class="project-input-wrapper">
          <div class="b2-regular">프로젝트 참여코드</div>
          <div class="code-check-input-wrapper">
            <input type="text" placeholder="프로젝트 참여코드를 입력해주세요" />
            <button class="code-check-button">
              <div class="b2-regular">코드확인</div>
            </button>
          </div>
        </div>
        <div class="modal-buttons-wrapper">
          <button class="create-button" id="joinProjectButton">
            <div class="b2-regular">참여하기</div>
          </button>
          <button
            class="cancel-button"
            id="cancelButton"
            onclick="closeModal('joinProjectModal');"
          >
            <div class="b2-regular">취소하기</div>
          </button>
        </div>
      </div>
      {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/manage_project.js') }}"></script>
  </body>
</html>
