<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 관리</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>프로젝트 관리</h1>
        </header>

        <main class="main-content">
            <div class="action-buttons">
                <div class="button-wrapper">
                    <a href="{{ url_for('manage_project.create_project_view') }}" class="action-button create-project">
                        <span>프로젝트 생성하기</span>
                    </a>
                </div>
                <div class="button-wrapper">
                    <a href="{{ url_for('manage_project.join_project_view') }}" class="action-button join-project">
                        <span>프로젝트 참여하기</span>
                    </a>
                </div>
            </div>

            <section class="project-list">
                <h2>프로젝트 목록</h2>
                <ul>
                    {% for userproject in userprojects %}
                        <li class="project-item">
                            <a href="{{ url_for('manage_project.manage_project_view', project_id=userproject.project_id) }}" class="project-link">{{ userproject.project_name }}</a>
                            <form action="{{ url_for('manage_project.delete_project_view', project_id=userproject.project_id) }}" method="POST" style="display:inline;">
                                <button type="submit" class="delete-button">링크 복사</button>
                            </form>
                            <a href="{{ url_for('manage_project.manage_project_view', project_id=userproject.project_id) }}" class="project-link">프로필 수정</a>
                            <form action="{{ url_for('manage_project.delete_project_view', project_id=userproject.project_id) }}" method="POST" style="display:inline;">
                                <button type="submit" class="delete-button">나가기</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="project-item">프로젝트가 없습니다.</li>
                    {% endfor %}
                </ul>
            </section>
        </main>
    </div>

    <!-- 프로필 수정 완료 팝업 띄우는 코드 (나중에 부트스트랩 사용해서 이것보다 보기좋게 수정해도 좋을듯 아니면 수정 알림 안 뜨게 해도 되고)-->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <script>
            alert("{{ messages[0] }}");
        </script>
      {% endif %}
    {% endwith %}

    <script>
        $(document).ready(function(){
            $('.toast').toast({ autohide: true, delay: 1000 });
            $('.toast').toast('show');
        });
    </script>
</body>
</html>
