<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>milestone</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='milestone.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='topbar.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}"/>
  </head>
  <body>
    {% include 'topbar.html' %}
    <div class="main-container">
      {% include 'sidebar.html' %}
      <div class="content">
        {% block content %}
        <div class="milestone-line-container">
          <h1>마일스톤 진척률</h1>
          <div class="line" id="line">
            <!-- 마일스톤 점들이 이곳에 추가됩니다 -->
          </div>
        </div>

        <div class="milestone-list-container">
          <div class="list-header">
            <h1>마일스톤 목록</h1>
            <button class="create-milstone-btn" id="openMilestone">
              <p>마일스톤 추가</p>
            </button>
          </div>
          <ul class="milestone-lists-wrapper">
            {% for milestone in milestones %}
              <li class="milestone-list">
                <p>{{ milestone.milestone_content }}</p>
                <div class="b2-regular">마감 날짜 : {{ milestone.due_date }}</div>
                <div class="milestone-button-wrapper">
                  <form action="{{ url_for('milestone.delete_milestone_view', project_id=project.project_id, milestone_id=milestone.milestone_id) }}" method="POST">
                    <button type="submit" class="delete-milestone-btn">삭제</button>
                  </form>
                </div>
              </li>
            {% else %}
              <li class="milestone-list">마일스톤이 없습니다. 마일스톤을 추가해주세요.</li>
            {% endfor %}
          </ul>

          <!-- 모달 관련 코드 -->
          <div class="modal-background" id="modalBackground"></div>
          <!-- 마일스톤 생성 모달창 -->
          <div class="milestone-modal" id="createMilestoneModal">
            <h1>마일스톤 생성</h1>
            <form action="{{ url_for('milestone.create_milestone_view', project_id=project.project_id) }}" method="POST">
              <div class="milestone-input-wrapper">
                <div class="b2-semibold">마일스톤 이름</div>
                <input
                  class="input-box"
                  type="text"
                  id="milestone_content" name="milestone_content" required
                  placeholder="마일스톤을 입력하세요"
                />
              </div>
              <div class="milestone-input-wrapper">
                <div class="b2-semibold">마감 기한</div>
                <input
                  class="input-box"
                  type="date"
                  id="due_date" name="due_date" required
                  placeholder="마감기한을 선택하세요"
                />
              </div>
              <div class="modal-buttons-wrapper">
                <button class="create-button" type="submit" id="createProjectButton">
                  <div class="b2-regular">마일스톤 추가</div>
                </button>
                <button
                  class="cancel-button"
                  id="cancelButton"
                  onclick="closeModal('createMilestoneModal');"
                >
                  <div class="b2-regular">취소하기</div>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div id="onboarding-overlay" class="onboarding-overlay hidden">
          <div id="onboarding-tooltip" class="onboarding-tooltip">
            <p id="onboarding-text"></p>
            <button id="onboarding-next-button">다음</button>
          </div>
        </div>
        {% endblock %}
      </div>
    </div> 
    <script>
      const totalMilestones = "{{ total_count }}";
      const completedMilestones = "{{ completed_count }}";
    </script>
    <script src="{{ url_for('static', filename='js/milestone.js') }}"></script>
  </body>
</html>
