<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not List</title>
    <script>
        function confirmDelete() {
            return confirm("정말로 삭제하시겠습니까?");
        }
    </script>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Not List</h1>
        </header>

        <main class="main-content">
            <section class="notlist">
                <h2>Not List Keywords</h2>
                <ul>
                    {% for item in not_list %}
                        <li class="notlist-item">
                            {{ item.keyword }}
                            
                                <form action="{{ url_for('notlist_view.delete_keyword_route', project_id=project_id, not_list_id=item.not_list_id) }}" method="POST" style="display:inline;" onsubmit=" return confirmDelete();">
                                    
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit">삭제</button>
                                </form>
                            
                        </li>
                    {% else %}
                        <li class="notlist-item">No keywords found.</li>
                    {% endfor %}
                </ul>
            </section>

            <h3>Add New Keyword</h3>
            <form action="{{ url_for('notlist_view.create_keywords_route', project_id=project_id) }}" method="POST">
                <input type="text" name="keywords" placeholder="New keyword">
                <button type="submit">추가</button>
            </form>

            <a href="{{ url_for('userstory_view.view_stories_route', project_id=project_id) }}">유저스토리 보기</a>
        </main>
    </div>
</body>
</html>