<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A.T.M</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='scrum.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='topbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='sidebar.css') }}"
    />
  </head>
  <body>
    {% include 'topbar.html' %}
    <div class="main-container">
      {% include 'sidebar.html' %}
      <div class="content">
        {% block content %}
        <div class="scrum-title-wrapper">
          <div class="title-left-wrapper">
            <h1>스크럼 보드</h1>
            <div class="sprint-change-btn" onclick="toggleSprintDropdown()">
              <p>
                {{ selected_sprint.sprint_name if selected_sprint else '선택된
                스프린트가 없습니다' }}
              </p>
              <img src="/static/icons/chevron-down.svg" />
              <div class="sprint-dropdown" id="sprintDropdown">
                <ul>
                  {% for sprint in sprints %}
                  <li onclick="changeSprint({{ sprint.sprint_id }})">
                    {{ sprint.sprint_name }}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <button
              onclick="saveStatuses()"
              class="save-button"
              {%
              if
              is_past_due
              %}disabled
              style="cursor: not-allowed; opacity: 0.5"
              {%
              endif
              %}
            >
              <div class="b2-regular">상태 저장</div>
            </button>
          </div>

          <div class="sprint-percentage-container">
            <p>스프린트 작업 완료율</p>
            <div class="sprint-bar">
              <div class="sprint-bar-outer">
                <div
                  class="sprint-bar-inner"
                  style="width: {{ completion_percentage }}%;"
                ></div>
              </div>
              <span>{{ completion_percentage|round|int }}%</span>
            </div>
          </div>
        </div>

        <div
          class="scrum-board-container {% if is_past_due %}past-due{% endif %}"
        >
          <div class="todo-container">
            <h1 class="scrum-board-title">To Do</h1>
            <div
              class="scrum-content"
              id="to-do"
              ondrop="drop(event)"
              ondragover="allowDrop(event)"
            >
              {% for backlog in backlogs_by_status['To Do'] %}
              <div
                class="scrum-sprint-item"
                id="item-{{ backlog.sprint_backlog_id }}"
                draggable="true"
                ondragstart="drag(event)"
                data-backlog-id="{{ backlog.sprint_backlog_id }}"
              >
                <p>{{ backlog.sprint_backlog_content }}</p>
                <span class="user-circle">{{ backlog.user_name[:2] }}</span>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="inprogress-container">
            <h1 class="scrum-board-title">In Progress</h1>
            <div
              class="scrum-content"
              id="in-progress"
              ondrop="drop(event)"
              ondragover="allowDrop(event)"
            >
              {% for backlog in backlogs_by_status['In Progress'] %}
              <div
                class="scrum-sprint-item"
                id="item-{{ backlog.sprint_backlog_id }}"
                draggable="true"
                ondragstart="drag(event)"
                data-backlog-id="{{ backlog.sprint_backlog_id }}"
              >
                <p>{{ backlog.sprint_backlog_content }}</p>
                <span class="user-circle">{{ backlog.user_name[:2] }}</span>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="done-container">
            <h1 class="scrum-board-title">Done</h1>
            <div
              class="scrum-content"
              id="done"
              ondrop="drop(event)"
              ondragover="allowDrop(event)"
            >
              {% for backlog in backlogs_by_status['Done'] %}
              <div
                class="scrum-sprint-item"
                id="item-{{ backlog.sprint_backlog_id }}"
                draggable="true"
                ondragstart="drag(event)"
                data-backlog-id="{{ backlog.sprint_backlog_id }}"
              >
                <p>{{ backlog.sprint_backlog_content }}</p>
                <span class="user-circle">{{ backlog.user_name[:2] }}</span>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
    <div id="onboarding-overlay" class="onboarding-overlay hidden">
      <div id="onboarding-tooltip" class="onboarding-tooltip">
        <p id="onboarding-text"></p>
        <div class="onboarding-buttons">
          <button id="onboarding-next-button" class="onboarding-next-button">
            다음
          </button>
        </div>
      </div>
    </div>
    {% if message %}
    <div class="alert alert-info">{{ message }}</div>
    {% endif %}
    <!-- 외부 JavaScript 파일 연결 -->
    <script>
      const projectId = "{{ project_id }}";
    </script>
    <script src="{{ url_for('static', filename='js/scrum.js') }}"></script>
  </body>
</html>
