<div class="topbar">
    <ul>
        <li><img src="{{ url_for('static', filename='icons/project.svg') }}" alt="프로젝트 아이콘"> 프로젝트</li>
        <li><img src="{{ url_for('static', filename='icons/calendar.svg') }}" alt="캘린더 아이콘"> 캘린더</li>
        <li><img src="{{ url_for('static', filename='icons/guide.svg') }}" alt="가이드 페이지 아이콘"> 가이드페이지</li>
        <li><img src="{{ url_for('static', filename='icons/alarm.svg') }}" alt="알림 아이콘"> 알림</li>
        <li><img src="{{ url_for('static', filename='icons/mypage.svg') }}" alt="마이페이지 아이콘"> 마이페이지</li>
    </ul>
</div>
