<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Story</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='topbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='userstory.css') }}">

    <script>
        function enableEdit(storyId) {
            var storyContent = document.getElementById('story-content-' + storyId);
            var editForm = document.getElementById('edit-form-' + storyId);
            storyContent.style.display = 'none';
            editForm.style.display = 'inline';
            var inputField = editForm.querySelector('input[name="content"]');
            inputField.focus();
            inputField.addEventListener('keypress', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    editForm.submit();
                }
            });
        }
    </script>

</head>
<body>
    {% include 'topbar.html' %}
    <div class="main-container">
        {% include 'sidebar.html' %}
        <div class="content">
            <!-- Not List -->
            <div class="not-list-box">
                <div class="not-list-header">
                    <h2>Not List</h2>
                </div>
                <div class="not-list-keywords">
                    {% for item in not_list %}
                    <div class="keyword-wrapper">
                        <span class="modal-keyword-item">
                            {{ item.keyword }}
                        </span>

                        <form action="{{ url_for('userstory.delete_keyword_route', project_id=project_id, not_list_id=item.not_list_id) }}" method="POST" style="display:inline;" onsubmit="return confirmDelete();">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit"  class="delete-story">삭제</button>
                        </form>
                    </div>

                {% else %}
                    <p class="not-list-keywords">not list 키워드가 없습니다.</p>
                {% endfor %}
                </div>
            </div>

             <!-- not list 입력 -->
            <div class="userstory-input-container">
                <form action="{{ url_for('userstory.create_keywords_route', project_id=project_id) }}" method="POST">
                    <input type="text" name="keyword" placeholder="not list를 작성해주세요. 엔터를 누를 시 자동으로 유저스토리에 등록됩니다.">
                </form>
            </div>
            
            <!-- 유저스토리 -->
            <div class="userstory-container">
                <h2>유저스토리</h2>
                <div class="userstory-list" id="userStoryList">
                    {% for story in stories %}
                    <li class="userstory-item">
                        <span id="story-content-{{ story.story_id }}">{{ story.user_story_content }}</span>
                        <form id="edit-form-{{ story.story_id }}" action="{{ url_for('userstory.update_story_route', project_id=project_id, story_id=story.story_id) }}" method="POST" style="display:none;" class="edit-input">
                            <input type="hidden" name="_method" value="PUT">
                            <input type="hidden" name="story_id" value="{{ story.story_id }}">
                            <input type="text" name="content" value="{{ story.user_story_content }}">
                            
                        </form>
                        <div class="button-wrapper">
                            <button class="edit-story" type="button" onclick="enableEdit('{{ story.story_id }}')">수정</button>
                            
                            <form action="{{ url_for('userstory.delete_story_route', project_id=project_id, story_id=story.story_id) }}" method="POST" style="display:inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit"  class="delete-story">삭제</button>
                                
                            </form>
                        </div>
                    </li>    
                    
                {% else %}
                    <p class="userstory-list">유저스토리가 없습니다.</p>
                
                {% endfor %}
                       
                </div>
            </div>
            
            <!-- 유저 스토리 입력 섹션 -->
            <div class="userstory-input-container">
                <form action="{{ url_for('userstory.create_story_route', project_id=project_id) }}" method="POST">
                    <input type="text" name="content" placeholder="유저스토리를 작성해주세요. 엔터를 누를 시 자동으로 유저스토리에 등록됩니다.">
                    </form>
            </div>
                                  
</body> 


</html>