<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ retrospect.retrospect_title }}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='topbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='sidebar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='v_retrospect.css') }}"
    />
</head>
<body>
    {% include 'topbar.html' %}
    <div class="main-container">
        {% include 'sidebar.html' %}
        <div class="content">
            <header class="content-header">
                <h2>{{ retrospect.retrospect_title }}</h2>
            </header>

            <div class="retrospect-details">
                <div class="retrospect-item">
                    <strong>작성자:</strong> {{ user_name }}
                </div>
                <div class="retrospect-item">
                    <strong>스프린트:</strong>
                    {% if retrospect.sprint_id %}
                        {% for sprint in sprints %}
                            {% if sprint.sprint_id == retrospect.sprint_id %}
                                {{ sprint.sprint_name }}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        없음
                    {% endif %}
                </div>
                <div class="retrospect-item">
                    <strong>카테고리:</strong>
                    {{ '회고' if retrospect.label == 'retrospect' else '리스크' }}
                </div>
            </div>

            <hr>

            <div class="retrospect-content">
                <h3>내용</h3>
                <p>{{ retrospect.retrospect_content.replace('\n', '<br>')|safe }}</p>
            </div>

            <hr>

            <button class="btn-back" onclick="location.href='{{ url_for('retrospect.retrospect_view', project_id=retrospect.project_id) }}'">
                목록으로 돌아가기
            </button>
        </div>
    </div>
</body>
</html>
